<h1 class="text-3xl font-medium">Uusi työsuoritus</h1>

<div class="py-3"></div>

<form hx-post="/tyosuoritukset" >
  <label>
    <h2 class="text-xl font-medium">Valitse työkohde</h2>
    <select name="tyokohde_id" required
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option value="">Työkohde</option>
      {{#each tyokohteet}}
      <option value="{{id}}">#{{id}}. {{tyyppi}}, {{osoite}}, {{postinumero}} {{postitoimipaikka}}</option>
      {{/each}}
    </select>
  </label>
  <!-- 
    TODOongelma: miten ketussa samaa uusi tyokohde/asiakas modaali-ikkunaa voi
   käyttää niin, että käyttäjä päätyy kuitenkin takaisin TÄLLE sivulle?

   Samaa modaali-ikkunaa voidaan kutsua N:stä eri paikasta.

  <button hx-get="/tyokohteet/uusi" hx-target="#modal-content" hx-push-url="true"
    class="px-4 py-2 my-2 font-semibold text-blue-700 bg-transparent border border-blue-500 rounded hover:bg-blue-500 hover:text-white hover:border-transparent">
    Uusi työkohde
  </button>
  -->

  <div class="py-3"></div>

  <label>
    <h2 class="text-xl font-medium">Valitse asiakas</h2>
    <select name="asiakas_id" required
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option value="">Asiakas</option>
      {{#each asiakkaat}}
      <option value="{{id}}">#{{id}}. {{nimi}}</option>
      {{/each}}
    </select>
  </label>
  <!--
  <button hx-get="/asiakkaat/uusi" hx-target="#modal-content" hx-push-url="true"
    class="px-4 py-2 my-2 font-semibold text-blue-700 bg-transparent border border-blue-500 rounded hover:bg-blue-500 hover:text-white hover:border-transparent">
    Uusi asiakas
  </button>
  -->

  <div class="py-3"></div>

  <h2 class="text-xl font-medium">Työsuorituksen tyyppi</h2>
  <label class="flex items-center pt-4">
    <input type="radio" value="urakka" name="tyyppi" required
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2" />
    <span class="text-sm font-medium ms-2">
      Urakka
    </span>
  </label>
  <label class="flex items-center pt-4">
    <input type="radio" value="tuntihinta" name="tyyppi" required
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2" />
    <span class="text-sm font-medium ms-2">
      Tuntihinta
    </span>
  </label>

  <div class="py-3"></div>

  <button type="submit"
    class="px-4 py-2 my-2 font-semibold text-white bg-blue-700 rounded hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none">
    Tallenna
  </button>
</form>