<h2 class="font-medium text-xl">Uusi muistutuslasku</h2>

<div class="p-2"></div>

<form hx-post="/laskut" hx-target="#modal-content" hx-vals='{"edellinen_lasku": "{{edellinen_lasku.id}}"}'>

  <div class="mb-5 text-sm text-gray-900">
    <label>
      <div class="mb-2 font-medium">Edellinen lasku (<span class="font-normal">{{formatDate
          edellinen_lasku.pvm}}</span>)</div>
      <div>
        <label>Summa:</label>
        <span>{{edellinen_lasku.yhteissumma}} €</span>
      </div>
      <div>
        <label>Eräpäivä:</label>
        <span>{{formatDate edellinen_lasku.era_pvm}}</span>
      </div>
    </label>
  </div>

  <div class="mb-5">
    <label>
      <div class="mb-2 text-sm font-medium text-gray-900">Muistutuslaskun eräpäivä</div>
      <input type="date" name="era_pvm" min="{{today}}" value="{{default_era_pvm}}" class="modal-input modal-i"
        required>
    </label>
  </div>

  <div class="flex items-center">
    <button type="submit" class="button-submit">
      Tallenna
    </button>
    <div class="p-1"></div>
    <button hx-get="/tyhja" hx-target="#modal-content" class="button-cancel">
      Peruuta
    </button>
  </div>
</form>