<h1 class="font-medium text-3xl">Työsopimukset</h1>

{{#if writeAccess}}
<button hx-get="/tyosopimukset/uusi" hx-target="#main-content" hx-push-url="true"
  class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded my-2">
  Uusi työsopimus
</button>
{{/if}}

<div>
  {{#each tyosopimukset}}
  <div hx-get="/tyosopimukset/{{tyosopimus.id}}" hx-target="#main-content" hx-push-url="true"
    class="flex justify-between p-2 hover:bg-neutral-200 rounded cursor-pointer">
    <div>
      <div>
        <span class="font-medium text-xl">
          {{tyokohde.osoite}}, {{tyokohde.postitoimipaikka}}
        </span>
        <span class="uppercase text-xl">
          {{tyosopimus.tyyppi}}
        </span>
      </div>
      <div>{{formatDate tyosopimus.aloitus_pvm}}</div>
      <div>{{asiakas.nimi}}</div>
      <div>{{tyokohde.nimi}}</div>
    </div>
    <div class="capitalize">
      {{tyosopimus.tila}}
    </div>
  </div>
  {{/each}}
</div>