{{!-- <div>tyo</div>
tuntihintatyyppi
alv_prosentti
aleprosentti
tunnit --}}

<h2 class="font-medium text-xl">Uusi työ</h2>

<form hx-post="/tyosopimukset/{{id}}/tyot" hx-target="#modal-content">
  <div class="mb-5">
    <label>
      <div class="mb-2 text-sm font-medium text-gray-900">Tuntihintatyyppi</div>
      <select name="tuntihintatyyppi" required
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option value="">Tuntihintatyyppi</option>
        {{#each tht}}
        <option value="{{id}}">{{tyyppi}}, {{tuntihinta}} €/h</option>
        {{/each}}
      </select>
    </label>
  </div>

  <div class="mb-5">
    <label>
      <div class="mb-2 text-sm font-medium text-gray-900">Aleprosentti</div>
      <input hx-get="/tyosopimukset/{{id}}/tyot/hinta" hx-trigger="keyup delay:200ms changed" hx-target="#hinta"
        hx-include="input, select" name="aleprosentti" value="0" type="number" min="0" max="100" step="0.1"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required>
    </label>
  </div>

  <div class="mb-5">
    <label>
      <div class="mb-2 text-sm font-medium text-gray-900">ALV-prosentti</div>
      <input hx-get="/tyosopimukset/{{id}}/tyot/hinta" hx-trigger="keyup delay:200ms changed" hx-target="#hinta"
        hx-include="input, select" name="alv_prosentti" value="24" type="number" min="0" max="100" step="0.1"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required>
    </label>
  </div>

  <div class="mb-5">
    <label>
      <div class="mb-2 text-sm font-medium text-gray-900">Tunnit</div>
      <input hx-get="/tyosopimukset/{{id}}/tyot/hinta" hx-trigger="keyup delay:200ms changed" hx-target="#hinta"
        hx-include="input, select" name="tunnit" type="number" min="0"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        required>
    </label>
  </div>

  <div class="mb-5" id="hinta">
  </div>

  <div class="flex items-center">
    <button type="submit"
      class="px-4 py-2 my-2 font-semibold text-white bg-blue-700 rounded hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 focus:outline-none">
      Tallenna
    </button>
    <div class="p-1"></div>
    <button hx-get="/tyhja" hx-target="#modal-content"
      class="px-4 py-2 my-2 font-semibold bg-transparent rounded hover:text-white hover:border-transparent text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 ">
      Peruuta
    </button>
  </div>
</form>