<div class="py-4 font-bold text-3xl">Laskut</div>
<div class="text-sm">
  <div class="grid grid-cols-8 font-bold p-2 border-b-4 border-black">  
    <div>Tunnus</div>
    <div class="col-span-2">Asiakas</div>
    <div>Kohde</div>
    <div class="text-right">Pvm</div>
    <div class="text-right">Eräpvm</div>
    <div class="text-right">Yhteensä</div>
    <div class="text-right">Maksettu</div>
  </div>


  {{#each laskut}}
  <div hx-get="/laskut?laskuId={{id}}&tyosopimusId={{tyosuoritus_id}}" hx-target="#main-content" hx-push-url="true">
    <div class="grid grid-cols-8 p-2 rounded-md hover:bg-gray-100 hover:underline">       
      <div class="items-center">{{id}}</div>
      <div class="col-span-2 items-center">{{asiakas_nimi}}</div>
      <div>{{tyokohde_osoite}} {{tyokohde.postitoimipaikka}}</div>
      <div class="text-right items-center">{{formatDate pvm}}</div>
      <div class="text-right items-center">{{formatDate era_pvm}}</div>
      <div class="text-right items-center">{{summa}} €</div>
      <div class="text-right items-center">{{#if is_maksettu}} Kyllä {{else}} Ei {{/if}}</div>
    </div>
  </div>
  {{/each}}

</div>