<!--
  Laskun sisällön vaatimukset:
  
  Voidaan olettaa, että urakkalasku ei sisällä tuntitöitä eikä ylimääräisiä tarvikkeita, mutta tarvikkeiden ja työn osuus sekä näiden alv-osuus pitää olla eritelty. Tuntityölaskussa pitää olla eritelty tunnit sekä tarvikkeet (ja alv). Lisäksi on eriteltävä, että kuinka paljon laskusta on kotitalousvähennyskelpoista. Tuntityöstä ja/tai tarvikkeista voidaan antaa alennusprosentti, jolloin laskuun pitää kirjata alkuperäinenhinta, alennusprosentti sekä hinta alennuksen jälkeen. Alennusprosentti annetaan ennen aina hintaan
  ennen alv:tä

  Lasku lähetetään asiakkaalle ja siinä on eriteltävä työkohde. Laskuun liittyy päivämäärä, eräpäivä ja koska (pvm) lasku on maksettu. Lasku voi olla myös muistutus- tai karhulasku, jolloin tämä on linkitettävä alkuperäiseen laskuun sekä annettava tieto, kuinka mones lasku on kyseessä. Toinen lasku on muistutuslasku, johon lisätään laskutuslisä. Kolmas (ja siitä eteenpäin) on karhulasku, johon liittyy laskutuslisän lisäksi myös viivästyskorko sekä aikaisempiin liittyvät laskutuslisät. Viivästyskorko on 16%(vuosikorko) ja laskutuslisä on 5 €/lasku

-->

<!-- Laskun perustiedot -->
<div class="grid grid-cols-2 gap-4">

  <!-- Vasen palsta -->
  <div class="col-start-1">
    <div class="text-sm">
      <div>Lähettäjä:</div>
      <div>Sähkötärsky</div>
      <div>Voimatie 1</div>
      <div>33100 Tampere</div>
    </div>

    <div class="pt-4 text-sm">
      <div>{{asiakas.nimi}}</div>
      <div>{{asiakas.osoite}}</div>
      <div>{{asiakas.postinumero}} {{asiakas.postitoimipaikka}}</div>
    </div>

    <div class="pt-4 text-sm">
      <div class="font-bold">Myyjä:</div>
      <div>Y-tunnus 1589563-3</div>
      <div>Sähkötärsky</div>
      <div>Voimatie 1</div>
      <div>33100 Tampere</div>
      <div class="font-bold">Ostaja:</div>
      <div>{{asiakas.nimi}}</div>
      <div>{{asiakas.osoite}}</div>
      <div>{{asiakas.postinumero}} {{asiakas.postitoimipaikka}}</div>
    </div>
  </div>

  <!-- Oikea palsta -->
  <div class="col-start-2 text-sm">
    <div class="text-xl">LASKU</div>

    <div class="pt-4">Laskun päiväys: {{formatDate lasku.pvm}}</div>
    <div>Laskun numero: {{lasku.id}}</div>

    <div>Laskun eräpäivä: {{formatDate lasku.era_pvm}}</div>
    <div>Laskun määrä: {{lasku.yhteissumma}}</div>
    <div>Saajan pankkitili: </div>
    <div>Pankin BIC-tunnus: </div>
    <div>Maksun saajan nimi: </div>
    <div>Saajan pankki: Njuurdea</div>
    <div>Viitenumero: </div>

    <div class="pt-4">Asiakastunnus: {{asiakas.id}}</div>
    <div>Työsopimus: {{tyosopimus.id}}</div>

    <div class="pt-4">Legalese</div>
  </div>

</div>

<!-- Muikkari/karhu -->
{{#if lasku.is_muistutuslasku}}
<div>Muistutuslasku, laskutuslisä 5€</div>
{{/if}}

{{#if lasku.is_karhulasku}}
<div>Karhulasku, laskutuslisä 5€</div>
<div>Viivästyskorko 16 %</div>
{{/if}}

<div class="pt-4">Tällä laskulla laskutetaan X % työsopimuksen summasta.</div>

<!-- Laskuerittely tuntihintalaskulle -->
{{#if is_tuntihinta}}
<div class="py-4 font-bold">Tuntityöerittely koko työsopimuksesta</div>
<div class="text-sm">
  <div class="grid grid-cols-7 font-bold border-b-2 border-black">  
    <div>Nimi</div>
    <div class="text-right">Määrä</div>
    <div class="text-right">Veroton a-hinta</div>
    <div class="text-right">Yhteensä ALV 0</div>
    <div class="text-right">Alennus-%</div>
    <div class="text-right">ALV:n osuus</div>
    <div class="text-right">Yhteensä</div>
  </div>

  <div class="grid grid-cols-7 pb-4"> 
    {{#each tyosuoritukset}}
    <div class="capitalize">{{tyyppi}}</div>
    <div class="text-right">{{tuntihinta}}</div>
    <div class="text-right">{{tunnit}}</div>
    <div class="text-right">{{hinta}} €</div>
    <div class="text-right">{{aleprosentti}}</div>
    <div class="text-right">{{alv}} €</div>
    <div class="text-right">{{hinta_yhteensa}} €</div>
    {{/each}}
  </div>
</div>

<div class="py-4 font-bold">Tarvike-erittely koko työsopimuksesta</div>
<div class="text-sm">
  <div class="grid grid-cols-7 font-bold border-b-2 border-black">  
    <div>Nimi</div>
    <div class="text-right">Määrä</div>
    <div class="text-right">Veroton a-hinta</div>    
    <div class="text-right">Yhteensä ALV 0</div>
    <div class="text-right">Alennus-%</div>
    <div class="text-right">ALV</div>
    <div class="text-right">Yhteensä</div>
  </div>

  <div class="grid grid-cols-7 pb-4"> 
    {{#each tarvikkeet}}
    <div>{{nimi}}</div>
    <div class="text-right">{{maara}} {{yksikko}}</div>
    <div class="text-right">{{hinta_ulos}} €</div>
    <div class="text-right">{{hinta}} €</div>
    <div class="text-right">{{aleprosentti}}</div>
    <div class="text-right">{{alv}} €</div>
    <div class="text-right">{{hinta_yhteensa}} €</div>
    {{/each}}
  </div>
</div>
{{/if}}

<div class="grid grid-cols-8 pt-4">
  <div class="col-span-5 row-span-4">  
    <div>Työn osuus laskulla, yhteensä: XXX €</div>
    <div>Tarvikkeiden osuus laskulla, yhteensä: XXX €</div>
    <div>Laskun summasta kotitalousvähennyskelpoinen osuus: XXX €</div>
  </div>
  <div class="col-start-6 col-span-2">Alkuperäinen hinta:</div>
  <div class="col-start-8 text-right">XXX €</div>

  <div class="col-start-6 col-span-2">Alennusprosentti:</div>
  <div class="col-start-8 text-right">XXX €</div>

  <div class="col-start-6 col-span-2 mb-4">Hinta alennuksen jälkeen:</div>
  <div class="col-start-8 text-right">XXX €</div>

  <div class="col-start-6 col-span-2 mb-4 font-bold border-b-2 border-black">LASKU YHTEENSÄ:</div>
  <div class="col-start-8 mb-4 font-bold text-right border-b-2 border-black">{{lasku.yhteissumma}} €</div>
</div>

<div class="grid grid-cols-8 text-sm">
  <div class="col-start-6 col-span-2">ALV-erittely</div>

  <div class="col-start-6 col-span-2">Veroton määrä:</div>
  <div class="col-start-8 text-right">XXX €</div>

  <div class="col-start-6 col-span-2">ALV 0 %:</div>
  <div class="col-start-8 text-right">XXX €</div>

  <div class="col-start-6 col-span-2">ALV 10 %</div>
  <div class="col-start-8 text-right">XXX €</div>

  <div class="col-start-6 col-span-2">ALV 24 %:</div>
  <div class="col-start-8 text-right">XXX €</div>


</div>

<!-- Työn ja tarvikkeiden ja kotitalousvähennyksen erittely -->

