<div class="page-container mt-4">
  {{> otsikko title="Laskut"}}

  <table class="min-w-full text-left text-sm mt-6">
    <thead class="font-bold border-b-2 border-black">
      <tr>
        <th scope="col">Tunnus</th>
        <th scope="col">Asiakas</th>
        <th scope="col">Kohde</th>
        <th scope="col">Pvm</th>
        <th scope="col">Eräpvm</th>
        <th scope="col">Yhteensä</th>
        <th scope="col">Maksettu</th>
      </tr>
    </thead>
    <tbody>

      {{#each laskut}}
      <tr class="items-table-row" hx-get="/laskut/{{id}}" hx-target="#main-content" hx-push-url="true">
        <td class="whitespace-nowrap p-2">{{id}}</td>
        <td class="whitespace-nowrap p-2">{{asiakas_nimi}}</td>
        <td class="whitespace-nowrap p-2">{{tyokohde_osoite}} {{tyokohde.postitoimipaikka}}</td>
        <td class="whitespace-nowrap p-2">{{formatDate pvm}}</td>
        <td class="whitespace-nowrap p-2">{{formatDate era_pvm}}</td>
        <td class="whitespace-nowrap p-2">{{yhteissumma}} €</td>
        <td class="whitespace-nowrap p-2">{{#if is_maksettu}} Kyllä {{else}} Ei {{/if}}</td>
      </tr>
      {{/each}}

    </tbody>
  </table>

</div>