<h1 class="font-medium text-3xl">Työsopimus #{{tyosopimus.id}}</h1>

<div>
  {{#if is_urakka}}<div>Sopimustyyppi: Urakkasopimus</div>{{/if}}
  {{#if is_tuntihinta}}<div>Sopimustyyppi: Tuntityösopimus</div>{{/if}}
  <div>Kohdeosoite: {{tyokohde.osoite}}</div>
  <div>Aloituspäivämäärä: {{formatDate tyosopimus.aloitus_pvm}}</div>
  <div class="flex items-center">
    <span class="pr-1">Työsopimuksen tila:</span>
    {{#if writeAccess}}
    <select name="tila" hx-patch="/tyosopimukset/{{tyosopimus.id}}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
      <option value="">{{tyosopimus.tila}}</option>
      <option value="">---------------</option>
      {{#each tilat}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    {{else}}
    <span>{{tyosopimus.tila}}</span>
    {{/if}}
  </div>
</div>

<div class="grid grid-cols-2 mt-4">
  <div>
    <h2 class="font-medium text-xl">Asiakas</h2>
    <div class="flex">
      <div>
        <div>{{asiakas.nimi}}</div>
        <div>{{asiakas.sahkoposti}}</div>
        <div>{{asiakas.puhelinnumero}}</div>
      </div>
      <div class="px-10"></div>
      <div class="shrink-0">
        <div>{{asiakas.osoite}}</div>
        <div>{{asiakas.postinumero}}, {{asiakas.postitoimipaikka}}</div>
      </div>
    </div>
  </div>

  <div>
    <h2 class="font-medium text-xl">Työkohde</h2>
    <div>{{tyokohde.osoite}}</div>
    <div>{{tyokohde.postinumero}}, {{tyokohde.postitoimipaikka}}</div>
    <div class="capitalize">{{tyokohde.tyyppi}}</div>
  </div>
</div>

<div class="relative border-2 border-gray-400 p-2 mt-8">
  {{> laskutLista laskut=laskut}}
</div>

<div class="relative border-2 border-gray-400 p-2 mt-8">
  {{> tarvikkeetLista tarvikkeet=tarvikkeet}}

</div>

<div class="relative border-2 border-gray-400 p-2 mt-8">
  {{> tyosuorituksetLista tyosuoritukset=tyosuoritukset}}
</div>

<div class="flex border-2 border-black text-sm mt-8">
  <div class="flex flex-col w-1/3">
    <div class="flex items-center flex-shrink-0 h-8 border-b-4 border-black  p-1">ALV-erittely:</div>
    <div class="grid grid-cols-4 p-1">
      {{#each alv_erittely}}
      <div class="col-span-2">{{hinta_summa}} €:stä</div>
      <div>ALV {{formatPercentage alv_prosentti}}:&nbsp;</div>
      <div>{{alv_summa}} €</div>
      {{/each}}
    </div>
  </div>

  <div class="flex flex-col w-1/3">
    <div class="flex items-center flex-shrink-0 h-8 border-b-4 border-black p-1">Hinnat:</div>
    <div class="grid grid-cols-2 p-1">
      <div>Lähtöhinta ALV 0 %:</div>
      <div>{{summat.lahtohinta}} €</div>

      <div>Alehinta ALV 0 %:</div>
      <div>{{summat.alehinta}} €</div>

      <div>Yhteensä sis. ALV:</div>
      <div>{{summat.alv_hinta}} €</div>
    </div>
  </div>

  <div class="flex flex-col w-1/3">
    <div class="flex items-center flex-shrink-0 h-8 border-b-4 border-black p-1">
      {{#if is_urakka}}Urakan muuttujat:{{/if}}</div>
    <!-- Content -->
    <div class="grid grid-cols-2 p-1">
      {{#if is_urakka}}
      <div>Aleprosentti:</div>
      <div>{{formatPercentage urakka.aleprosentti}}</div>

      <div>Korotusprosentti:</div>
      <div>{{formatPercentage urakka.korotusprosentti}}</div>
      {{/if}}
    </div>
  </div>
</div>