<h1 class="font-medium text-3xl">{{item.nimi}}</h1>
<span>{{item.tyyppi}}</span>
<div class="grid m-4">
  <span>Merkki: {{item.merkki}}</span>
  <span>Hinta sisään: {{item.hinta_sisaan}}€</span>
  <span>{{item.varastotilanne}} {{item.yksikko}} varastossa</span>
</div>

<h2 class="text-xl font-semibold">Toimittaja</h2>
<div class="grid m-4">
  <span>{{toimittaja.nimi}}</span>
  <span>{{toimittaja.osoite}}</span>
</div>