<h2 class="font-medium text-xl">Laskut</h2>

<div class="text-sm">
  <div class="grid grid-cols-8 font-bold p-2 border-b-4 border-black">
    <div>Tunnus</div>
    <div>Maksettu</div>
    <div>Päivämäärä</div>
    <div>Summa</div>
    <div>Eräpvm</div>
    <div class="col-span-3">Huomiot</div>
  </div>

  {{#each laskut}}
  <div class="grid grid-cols-8 p-2 items-center">
    <div hx-get="/laskut?laskuId={{id}}&tyosopimusId={{tyosuoritus_id}}" hx-target="#main-content" hx-push-url="true"
      class="rounded-md hover:bg-gray-100 hover:underline">
      {{id}}</div>
    <div>
      {{#if sopimusMaksettu}}Maksettu{{else}}Maksamatta{{/if}}
    </div>
    <div>{{formatDate pvm}}</div>
    <div>{{yhteissumma}} €</div>

    <div {{#if expired}}class="px-2 -left-2 relative rounded-full bg-red-500 text-white" {{/if}}>
      {{formatDate era_pvm}}
    </div>

    {{#if is_muistutuslasku}}
    <div class="px-3 rounded-full bg-yellow-500 text-white">Muistutuslasku</div>
    {{/if}}
    {{#if is_karhulasku}}
    <div class="px-3 rounded-full bg-red-500 text-white">{{karhuluku}}. karhulasku</div>{{/if}}

    {{#if ../writeAccess}}
    {{#if showExpiredButton}}
    <div class="col-span-2">
      <button
        class="font-semibold rounded hover:text-white text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 px-1 ml-2"
        hx-get="/tyosopimukset/{{../tyosuoritus_id}}/laskut/{{../id}}/muistutuslaskut" hx-target="#modal-content">
        Luo muistutuslasku
      </button>
    </div>
    {{/if}}
    {{/if}}
  </div>
  {{/each}}
</div>