<table class="text-right text-sm w-full mt-4">
  <thead class="font-bold border-b-2 border-black">
    <tr>
      <th scope="col">Tunnus</th>
      <th scope="col">Maksettu</th>
      <th scope="col">Päivämäärä</th>
      <th scope="col">Summa</th>
      <th scope="col">Eräpvm</th>
      <th scope="col" colspan="3">Huomiot</th>
    </tr>
  </thead>

  <tbody>
    {{#each laskut}}
    <tr hx-get="/laskut/{{id}}" hx-target="#main-content" hx-push-url="true" class="items-table-row">
      <td>{{id}}</td>
      <td>{{#if sopimusMaksettu}}Maksettu{{else}}Maksamatta{{/if}}</td>
      <td>{{formatDate pvm}}</td>
      <td>{{yhteissumma}} €</td>
      <td>
        <div {{#if expired}}class="px-2 m-1 rounded-md bg-red-500 text-white" {{/if}}>
          {{formatDate era_pvm}}</div>
      </td>
      <td>
        <div class="flex justify-between">
          <div class="flex">
            {{#if is_muistutuslasku}}
            <div class="px-3 m-1 rounded-md bg-yellow-500 text-white">Muistutuslasku</div>
            {{/if}}
            {{#if is_karhulasku}}
            <div class="px-3 m-1 rounded-md bg-red-500 text-white">{{karhuluku}}. karhulasku</div>{{/if}}
          </div>

          <div>
            {{#if ../writeAccess}}
            {{#if showExpiredButton}}
            <button
              class="font-semibold rounded hover:text-white text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 px-1 mx-1"
              hx-trigger="click consume" hx-get="/tyosopimukset/{{tyosuoritus_id}}/laskut/{{id}}/muistutuslaskut"
              hx-target="#modal-content">
              Luo muistutuslasku
            </button>
            {{/if}}
            {{/if}}
          </div>

        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>