<div
  class="flex justify-between font-semibold absolute top-0 left-2 transform -translate-y-1/2 px-2 bg-slate-300 rounded-md shadow-lg w-4/12">
  <div class="text-2xl my-auto">Tarvikkeet</div>

  <div>
    {{#if is_editable}}
    {{#if writeAccess}}
    <button hx-get="/tyosopimukset/{{tyosopimus.id}}/tarvikkeet/uusi" hx-target="#modal-content"
      class="bg-blue-500 text-white hover:bg-blue-200 font-semibold hover:text-blue-500 border-2 border-blue-500 rounded my-2 px-1 ml-4 text-sm">
      + Lisää
    </button>
    {{/if}}
    {{/if}}
  </div>
</div>

<div class="text-sm mt-4">
  <div class="grid grid-cols-7 font-bold border-b-2 border-black">
    <div>Nimi</div>
    <div class="text-right">Määrä</div>
    <div class="text-right">Veroton a-hinta</div>
    <div class="text-right">Yhteensä ALV 0</div>
    <div class="text-right">Alennus-%</div>
    <div class="text-right">ALV</div>
    <div class="text-right">Yhteensä</div>
  </div>

  <div class="grid grid-cols-7">
    {{#each tarvikkeet}}
    <div class="capitalize">{{nimi}}</div>
    <div class="text-right">{{maara}} {{yksikko}}</div>
    <div class="text-right">{{hinta_ulos}} €</div>
    <div class="text-right">{{hinta}} €</div>
    <div class="text-right">{{formatPercentage aleprosentti}}</div>
    <div class="text-right">{{alv}} €</div>
    <div class="text-right">{{hinta_yhteensa}} €</div>
    {{/each}}
  </div>

  <div class="grid grid-cols-7 font-bold border-t-2 border-black">
    <div class="col-start-4 text-right">{{tarvike_erittely.[0].alv0_summa}} €</div>
    <div class="col-start-6 text-right">{{tarvike_erittely.[0].alv}} €</div>
    <div class="col-start-7 text-right">{{tarvike_erittely.[0].summa}} €</div>
  </div>
</div>