{{> otsikkoJaNappi
title="Tarvikkeet"
hxGetUrl=(concat "/tyosopimukset/" tyosopimus.id "/tarvikkeet/uusi")
hxTarget="#modal-content"
hxPushUrl="false"
buttonText="Lisää"
isDisabled=isDisabled}}

<table class="text-right text-sm w-full mt-4">
  <thead class="font-bold border-b-2 border-black">
    <tr>
      <th scope="text-left col">Nimi</th>
      <th scope="col">Määrä</th>
      <th scope="col">Veroton a-hinta</th>
      <th scope="col">Ale-%</th>
      <th scope="col">Yhteensä ALV 0</th>
      <th scope="col">ALV-%</th>
      <th scope="col">ALV</th>
      <th scope="col">Yhteensä</th>
      <th scope="col">Pst</th>
    </tr>
  </thead>

  <tbody>
    {{#each tarvikkeet}}
    <tr hx-get="/tarvikkeet/{{varastotarvike_id}}" hx-target="#main-content" hx-push-url="true" class="items-table-row">
      <td class="text-left capitalize">{{nimi}}</td>
      <td>{{maara}} {{yksikko}}</td>
      <td>{{hinta_ulos}} €</td>
      <td>{{formatPercentage aleprosentti}}</td>
      <td>{{hinta}} €</td>
      <td>{{formatPercentage alv_prosentti}}</td>
      <td>{{alv}} €</td>
      <td>{{hinta_yhteensa}} €</td>
      <td>
        {{#if ../writeAccess}}
        <button hx-patch="/tyosopimukset/{{../tyosopimus.id}}/poistatarvike/{{id}}" hx-trigger="click consume"
          class="border rounded break-all hover:border-blue-700 {{#if ../isDisabled}}opacity-50 cursor-not-allowed{{/if}}"
          {{#if ../isDisabled}}disabled{{/if}}>
          &#10060
        </button>
        {{/if}}
      </td>
    </tr>
    {{/each}}

    <tr class="border-t-2 border-black font-bold">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">{{tarvike_erittely.[0].alv0_summa}} €</td>
      <td class="text-right">{{tarvike_erittely.[0].alv}} €</td>
      <td class="text-right">{{tarvike_erittely.[0].summa}} €</td>
      <td></td>
    </tr>
  </tbody>
</table>