<div class="flex font-semibold absolute top-0 left-2 transform -translate-y-1/2 bg-white px-2">
  <div class="mr-4 text-2xl my-auto">Työsuoritukset</div>

  <div>
    {{#if is_editable}}
    {{#if writeAccess}}
    <button hx-get="/tyosopimukset/{{tyosopimus.id}}/tyot/uusi" hx-target="#modal-content"
      class="bg-blue-500 text-white hover:bg-blue-200 font-semibold hover:text-blue-500 border-2 border-blue-500 rounded my-2 px-1">
      + Lisää työsuoritus
    </button>
    {{/if}}
    {{/if}}
  </div>
</div>

<div class="text-sm mt-4">
  <div class="grid grid-cols-7 font-bold border-b-2 border-black">
    <div>Nimi</div>
    <div class="text-right">Määrä</div>
    <div class="text-right">Veroton a-hinta</div>
    <div class="text-right">Yhteensä ALV 0</div>
    <div class="text-right">Alennus-%</div>
    <div class="text-right">ALV</div>
    <div class="text-right">Yhteensä</div>
  </div>

  <div class="grid grid-cols-7">
    {{#each tyosuoritukset}}
    <div class="capitalize">{{tyyppi}}</div>
    <div class="text-right">{{tunnit}} h</div>
    <div class="text-right">{{tuntihinta}} €</div>
    <div class="text-right">{{hinta}} €</div>
    <div class="text-right">{{formatPercentage aleprosentti}}</div>
    <div class="text-right">{{alv}} €</div>
    <div class="text-right">{{hinta_yhteensa}} €</div>
    {{/each}}
  </div>
</div>