<div class="mb-5">
  <label>
    <div class="mb-2 text-sm font-medium text-gray-900">Määrä (varastossa {{varastotilanne}} {{yksikko}})</div>
    <input hx-get="/tyosuoritukset/{{id}}/tarvikkeet/hinta" hx-trigger="keyup delay:200ms changed" hx-target="#hinta"
      hx-include="input, select" name="maara" type="number" min="0" max="{{varastotilanne}}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required>
  </label>
</div>

<div class="mb-5">
  <label>
    <div class="mb-2 text-sm font-medium text-gray-900">Myyntihinta (hankintahinta {{hinta_sisaan}} €)</div>
    <input hx-get="/tyosuoritukset/{{id}}/tarvikkeet/hinta" hx-trigger="keyup delay:200ms changed" hx-target="#hinta"
      hx-include="input, select" name="hinta_ulos" value="{{default_hinta_ulos}}" type="number" min="0" step="0.01"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required>
  </label>
</div>

<div class="mb-5">
  <label>
    <div class="mb-2 text-sm font-medium text-gray-900">Aleprosentti</div>
    <input hx-get="/tyosuoritukset/{{id}}/tarvikkeet/hinta" hx-trigger="keyup delay:200ms changed" hx-target="#hinta"
      hx-include="input, select" name="aleprosentti" value="0" type="number" min="0" max="100" step="0.1"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required>
  </label>
</div>

<div class="mb-5">
  <label>
    <div class="mb-2 text-sm font-medium text-gray-900">ALV-prosentti</div>
    <input hx-get="/tyosuoritukset/{{id}}/tarvikkeet/hinta" hx-trigger="keyup delay:200ms changed" hx-target="#hinta"
      hx-include="input, select" name="alv_prosentti" value="24" type="number" min="0" max="100" step="0.1"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      required>
  </label>
</div>

<div id="hinta"></div>