<h2 class="font-medium text-xl">Uusi tarvike</h2>

<form hx-post="/tarvikkeet" hx-target="#modal-content" hx-vals='{"tyosuoritus_id": "{{id}}"}'>
  <div class="mb-5">
    <label>
      <div class="mb-2 text-sm font-medium text-gray-900">Tarvike</div>
      <select name="varastotarvike_id" required hx-get="/tyosopimukset/{{id}}/tarvikkeet/" hx-params="none"
        hx-target="#tarvike" hx-on::config-request="event.detail.path += this.value" class="modal-input modal-i">
        <option value="">Tarvike</option>
        {{#each vt}}
        <option value="{{id}}">{{nimi}}, {{tyyppi}}, {{merkki}}, {{toimittaja_nimi}}, {{varastotilanne}} {{yksikko}}
        </option>
        {{/each}}
      </select>
    </label>
  </div>

  <div id="tarvike">
  </div>

  <div class="flex items-center">
    <button type="submit" class="button-submit">
      Tallenna
    </button>
    <div class="p-1"></div>
    <button hx-get="/tyhja" hx-target="#modal-content" class="button-cancel">
      Peruuta
    </button>
  </div>
</form>